@include font-face('SourceSansPro-Light', 'SourceSansPro-Light', 300, normal);
@include font-face('SourceSansPro-Regular', 'SourceSansPro-Regular', 400, normal);
@include font-face('SourceSansPro-Bold', 'SourceSansPro-Bold', 700, normal);

$font-family-light: 'SourceSansPro-Light', Arial, Helvetica, sans-serif;
$font-family-regular: 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;
$font-family-bold: 'SourceSansPro-Bold', Arial, Helvetica, sans-serif;