@mixin font-face($font-family, $file-path, $font-weight, $font-style) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weight;
    font-style: $font-style;
    src: url('../fonts/#{$file-path}.eot'),
    url('../fonts/#{$file-path}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$file-path}.woff') format('woff'),
    url('../fonts/#{$file-path}.ttf') format('truetype'),
  }
}