.button {
  background-color: $color-main;
  padding: 0.5rem 2.5rem;
  border-radius: 4px;
  text-align: center;
  color: white;
  cursor: pointer;
  margin: 0 7px;
  position: relative;

  &--light {
    background-color: white;
    color: $color-main;
    font-size: $font-size-normal;
    font-family: $font-family-bold;
    border: 0px;
    border-bottom: 2px solid $color-main;
    border-radius: 0px;
  }

  @media (max-width: 767px) {
    margin: 0.5rem 0;
  }

  &--loading {
    &::after {
      position: absolute;
      content: '';
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
      width: 24px;
      height: 24px;
      background-image: url($imagePath+'loading.svg');
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
    }
  }
}
